
.app-container {
    height: 100vh;
    width: 100vw;
    background-color: #FFFDFB;
    overflow: auto;
    margin-bottom: 40px;
}

.app-container-dark-mode {
    height: 100vh;
    width: 100vw;
    background-color: #FFFDFB;
    overflow: auto;
    background-color: black;
}



/* HEADER STYLING */ 

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 50px;
}


#header-title {
    font-size: 60px;
}

#header-title-dark-mode {
    font-size: 60px;
    color: #FFFDFB;
}

#header-subtitle {
    margin-bottom: 30px
}

#header-subtitle-dark-mode {
    color: #FFFDFB;
    margin-bottom: 20px;
}

/* PHOTO GRID STYLING */

#photo-grid-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    z-index: -1000;
    padding-bottom: 10px;
}

#photo-grid-dark-mode {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
    z-index: -1000;
    background-color: black;
}



.photo-wrapper {
    text-align: center;
    margin-bottom: 60px;
}

.photos {
    max-width: 80vw;
    max-height: 50vh;
    cursor: pointer;
}


@media only screen and (min-width: 850px) {
    #photo-grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
        
    }

    #photo-grid-dark-mode {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }

    .photos {
        max-width: 30vw;
    }
}


@media only screen and (min-width: 1200px) {
    #photo-grid-container {
        margin-bottom: 20px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.image-font {
    color: black;
}

.image-font-dark-mode {
    color:#FFFDFB;
}


.modal-background {
    height: 100vh;
    width: 100vw;
    z-index: 2000;
    background-color: rgba(119,136,153,0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    
}
.modal-img {
    z-index: 1000;
    position: fixed;
    max-height: 80%;
    max-width: 90%;
    top: 50%; 
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}