

.app-container {
    height: 100vh;
    width: 100vw;
    background-color: #FFFDFB;
    overflow: scroll;
}


/* HEADER STYLING */ 

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin-top: 10px;

}

#header-title {
    font-size: 60px;
}

/* PHOTO GRID STYLING */

#photo-grid-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

}
/* @media only screen and(min-width: 400px) {
    #photo-grid-container {
        background-color: black;
    }
} */

.photo-wrapper {
    text-align: center;
    margin-bottom: 60px;
}

.photos {
    max-width: 80vw;
    max-height: 80vh;
 
}


